/* Colores */
$violeta_oscuro: rgba(92, 166, 215, 0.291);
$violeta_claro: hsla(68, 85%, 61%, 0.2);
$amarillo: hsla(43, 100%, 51%, 1);
$marron: hsla(222, 79%, 17%, 0.65);
$marron_oscuro: hsla(43, 100%, 18%, 0.9);

/* Breakpoint */
$breakpoint: 1080px;